@import "../../../../assets/consts";

$companylist-item-height: 180px;

.company-item-wrapper {
  height: calc(#{$companylist-item-height} * 0.8);
}

@media (min-width: $screen-breakpoint-md) {
  .company-item-wrapper {
    height: $companylist-item-height;
  }
}

